.tab-reset {
  .el-tabs__header {
    border-bottom: none!important;
    margin-bottom: 0;
  }
  .el-tabs__nav {
    border: none !important;
    width: 100%;
    display: flex;
    border-radius: 0 !important;
    // border: 1px solid #000 !important;
    // border: 1px solid #000 !important;
    background: #00000018;
  }
  &.el-tabs--left {
    .el-tabs__nav {
      flex-direction: column;
    }
  }
  .el-tabs__nav-wrap {
    margin-bottom: 0;
  }
  .el-tabs__item {
    flex-shrink: 1;
    width: 100%;
    border-bottom: none !important;
    border-left: none !important;
    // border: 1px solid #000 !important;
    text-align: center;
    // border-radius: 5px;
    box-sizing: border-box;
    // padding: 0 20px !important;
    padding: 0 10px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: #303133;
    position: relative;
    &:nth-child(2), &:last-child {
      padding: 0 10px!important;
    }
    &:hover {
      color: unset;
    }
    &.is-active {
      color: unset;
      background: #fff;
    }
  }
  &.size-mini {
    .el-tabs__item {
      line-height: 30px;
      height: 30px;
    }
  }
  &.ios {
    .el-tabs__nav {
      border-radius: 10px !important;
      padding: 3px;
    }
    .el-tabs__item {
      border-radius: 7px !important;
    }
  }
}
.nav-reset.el-menu--horizontal {
  display: flex;
  align-items: center;
  padding-left: 10px !important;
  gap: 7px;
  .el-menu-item {
    // transition: none;
    padding: 0 15px;
    line-height: 30px !important;
    height: 30px !important;
    border-radius: 7px !important;
    border: none !important;
    &:not(.is-disabled):hover {
      background: #00000018;
    }
    &.is-active,
    &:not(.is-disabled):focus {
      background: #00000024;
    }
    // display: none;
    
  }
}
button.el-button.button-reset {
  &.slim {
    &.el-button--mini {
      padding: 7px 7px;
    }
  }
  &.ghost {
    &.el-button--default {
      background: transparent;
      border: none;
      &:not(.is-disabled):hover {
        background: #00000018;
        color: unset;
      }
      &.is-active,
      &:not(.is-disabled):focus {
        background: #00000024;
        color: unset;
      }
    }
    &.el-button--danger {
      background: transparent;
      color: $--color-danger;
      border: none;
      &:not(.is-disabled):hover {
        color: $--color-danger;
        background: $--color-danger-lighter;
        // color: unset;
      }
      &.is-active,
      &:not(.is-disabled):focus {
        color: $--color-danger;
        background: $--color-danger-light;
        // color: unset;
      }
    }
  }
}
.form-item-reset {
  &.full-height {
    .el-textarea__inner {
      height: 100%
    }
  }
}

/* Dialog 样式革新 */
$shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;

.el-dialog {
  border-radius: 5px;
  box-shadow: $shadow;
  overflow: hidden;
  transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);

  .el-dialog__header {
      background: rgb(251, 251, 250);
      padding: 10px 20px;
  }

  &.is-fullscreen {
      border-radius: unset;
  }
}
.el-message-box__headerbtn,
.d2-crud-dialog .el-dialog__headerbtn,
.el-dialog__headerbtn {
    top: 5px;
    right: 7px;
    padding: 5px 7px;
    border-radius: 3px;
    transition: all .2s ease;

    &.fullscreen {
        right: 40px;
    }
}
.el-message-box__headerbtn:hover,
.el-dialog__headerbtn:hover {
    background: #00000015;
}

.el-message-box__headerbtn:active,
.el-dialog__headerbtn:active {
    background: #0000002f;
}

/* Popper 样式革新 */

.el-popper {
  margin: 2px 0 !important;
  // &[x-placement^=bottom] {
  //   border-top-left-radius: 0;
  //   border-top-right-radius: 0;
  // }
}
.el-popper .popper__arrow {
  display: none;
}
.el-select-dropdown__list,
.el-dropdown-menu,
.el-autocomplete-suggestion__wrap {
  padding: 4px 4px;
}
.el-select-dropdown__item,
.el-dropdown-menu__item,
.el-autocomplete-suggestion li {
  border-radius: calc($--border-radius-base - 1px);
}

.el-time-panel {
  border-radius: $--border-radius-base;
}